* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 115, 173);

    /*
        Hide anything that goes outside
        the browser window.
    */
    overflow: hidden;
}


/*
    This is the actual drop.

    JavaScript creates a <span>
    and adds the "drop" class to it.
*/
.drop {

    /* Starting background color */
    background-color: aqua;

    /* Size of the drop */
    height: 3rem;
    width: 3rem;

    /* Slightly rounded corners */
    border-radius: 5%;

    /* Black border */
    border: 4px solid black;

    /*
        Allows JavaScript to control
        top and left positions.
    */
    position: absolute;

    /*
        Start the "animate" animation.

        5s    = animation duration
        linear = same animation speed
    */
    animation: animate 5s linear;
}


@keyframes animate {

    /* Beginning of animation */
    0% {

        /* Fully visible */
        opacity: 1;

        /* Make the element 2x larger */
        transform: scale(2);
    }


    /* 25% of the animation */
    25% {

        /* Make corners more rounded */
        border-radius: 25%;
    }


    /* Halfway through animation */
    50% {

        /* Make it partly transparent */
        opacity: 0.5;

        /* Make it 3x larger */
        transform: scale(3);

        /* More rounded */
        border-radius: 35%;

        /* Change color */
        background-color: blueviolet;
    }


    /* End of animation */
    100% {

        /* Fully visible again */
        opacity: 1;

        /* Make it 4x larger */
        transform: scale(4);

        /* Make it completely round */
        border-radius: 50%;

        /* Change color to yellow */
        background-color: #ffff00;
    }
}